{% load static %}
<head></head>

<form class="form">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}" />

    <h2>CONTACT US</h2>
    <p type="Name:"><input placeholder="Write your name here.."></input></p>
    <p type="Email:"><input placeholder="Let us know how to contact you back.."></input></p>
    <p type="Message:"><input placeholder="What would you like to tell us.."></input></p>
    <button>Send Message</button>
    <div>

      <span class="fa fa-phone"></span>93440317XX
      <span class="fa fa-envelope-o"></span> OneLP@tech.com
    </div>
  </form>